<div>
  <h2>Carga Diferida. Defer</h2>
  <p>
    Lorem fistrum ese que llega por la gloria de mi madre la caidita por la
    gloria de mi madre. Apetecan tiene musho peligro se calle ustée al ataquerl
    está la cosa muy malar condemor ese que llega de la pradera te voy a borrar
    el cerito me cago en tus muelas. Tiene musho peligro pecador diodenoo a
    peich va usté muy cargadoo. Pecador pupita ahorarr de la pradera pupita.
    Caballo blanco caballo negroorl hasta luego Lucas pupita de la pradera. Te
    voy a borrar el cerito fistro ese hombree caballo blanco caballo negroorl.
    Se calle ustée tiene musho peligro hasta luego Lucas por la gloria de mi
    madre. Está la cosa muy malar tiene musho peligro apetecan me cago en tus
    muelas está la cosa muy malar amatomaa diodenoo torpedo ahorarr llevame al
    sircoo ese hombree. Fistro a peich pecador ahorarr sexuarl al ataquerl de la
    pradera la caidita. Tiene musho peligro caballo blanco caballo negroorl
    amatomaa de la pradera torpedo diodeno la caidita pupita. A wan jarl se
    calle ustée no puedor no te digo trigo por no llamarte Rodrigor amatomaa
    está la cosa muy malar pecador la caidita tiene musho peligro. Qué dise
    usteer no te digo trigo por no llamarte Rodrigor está la cosa muy malar
    benemeritaar a peich me cago en tus muelas a peich amatomaa. Amatomaa ese
    hombree diodeno torpedo llevame al sircoo amatomaa tiene musho peligro. A
    wan al ataquerl no puedor por la gloria de mi madre por la gloria de mi
    madre caballo blanco caballo negroorl no puedor. Por la gloria de mi madre
    no te digo trigo por no llamarte Rodrigor no te digo trigo por no llamarte
    Rodrigor mamaar te voy a borrar el cerito hasta luego Lucas. Ese pedazo de
    torpedo al ataquerl benemeritaar llevame al sircoo qué dise usteer.
  </p>

  @defer () {
  <app-comments />
  }
</div>
